<!doctype html>
<html>
    <head>
        
    </head>
    <body>
        <header>
            <h1>CODEX</h1>
        </header>
        <div>
            <h3>회원가입</h3>
            <div>
                <form>
                    <fieldset>
                        <legend>개인정보 수집</legend>
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                        <label>학년</label>
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                        </select>
                        <label>반</label>
                        <select>
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                            <option>13</option>
                            <option>14</option>
                            <option>15</option>
                            <option>16</option>
                            <option>17</option>
                            <option>18</option>
                            <option>19</option>
                            <option>20</option>
                            <option>21</option>
                            <option>22</option>
                            <option>23</option>
                            <option>24</option>
                            <option>25</option>
                            <option>26</option>
                            <option>27</option>
                            <option>28</option>
                            <option>29</option>
                            <option>30</option>
                            <option>31</option>
                            <option>32</option>
                            <option>33</option>
                            <option>34</option>
                            <option>35</option>
                            <option>36</option>
                            <option>37</option>
                            <option>38</option>
                            <option>39</option>
                            <option>40</option>
                        </select>
                        <label>번호</label>
                        <label>이름</label>
                        <input type="text">
                        <br><br>
                        <label>생년월일</label>
                        <input type="date">
                        <br><br>
                        <label>개인 이메일 주소</label>
                        <input type="email">
                        <br><br>
                        <label>개인정보 수집에 동의합니다.</label>
                        <input type="checkbox">
                    </fieldset>
                </form>
            </div>
            <div>
                <label for="regId">아이디 (닉네임으로 표시됩니다.)</label>
                <br>
                <input id="regId" type="text">
                <br>
                <label for="regPw">비밀번호 </label>
                <br>
                <input id="regPw" type="password">
                <br>
                <label for="pwCon">비밀번호 확인</label>
                <br>
                <input id="pwCon" type="password">
            </div>
        </div>
    </body>
</html>